<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{50.360313, 2.794017}</string>
	<key>overlayTopLeftCoord</key>
	<string>{50.409393, 2.698860}</string>
	<key>overlayTopRightCoord</key>
	<string>{50.409393, 2.866402}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{50.318504, 2.698860}</string>
	<key> 1st Bn </key>
<array>
    <string>{ 50.34348275 , 2.795996613 } </string>
    <string>{ 50.3449659 , 2.802457916 } </string>
    <string>{ 50.34664642 , 2.810022068 } </string>
</array>
<key> 2nd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 3rd Bn </key>
<array>
    <string>{ 50.34784179 , 2.802417669 } </string>
    <string>{ 50.34832208 , 2.805789678 } </string>
    <string>{ 50.34895757 , 2.809360839 } </string>
</array>
<key> 4th Bn </key>
<array>
    <string>{ 50.35104023 , 2.801177693 } </string>
    <string>{ 50.35154039 , 2.805014009 } </string>
    <string>{ 50.35219025 , 2.809653057 } </string>
</array>
<key> 5th Bn </key>
<array>
    <string>{ 50.3394157 , 2.778975022 } </string>
    <string>{ 50.34105855 , 2.786031098 } </string>
    <string>{ 50.34286797 , 2.794314052 } </string>
</array>
<key> 6th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 7th Bn </key>
<array>
    <string>{ 50.3409035 , 2.776169928 } </string>
    <string>{ 50.3428189 , 2.785825714 } </string>
    <string>{ 50.34460137 , 2.795048925 } </string>
</array>
<key> 8th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 9th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 10th Bn </key>
<array>
    <string>{ 50.34316676 , 2.776272507 } </string>
    <string>{ 50.34480889 , 2.785662387 } </string>
    <string>{ 50.34625169 , 2.794846783 } </string>
</array>
<key> 11th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 12th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 13th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 14th Bn </key>
<array>
    <string>{ 50.34923897 , 2.777667547 } </string>
    <string>{ 50.3500384 , 2.786152623 } </string>
    <string>{ 50.35093983 , 2.794533232 } </string>
</array>
<key> 15th Bn </key>
<array>
    <string>{ 50.34671669 , 2.7782153 } </string>
    <string>{ 50.3480803 , 2.786368067 } </string>
    <string>{ 50.34934289 , 2.794639659 } </string>
</array>
<key> 16th Bn </key>
<array>
    <string>{ 50.35080195 , 2.777740588 } </string>
    <string>{ 50.35171748 , 2.784532511 } </string>
    <string>{ 50.3521121 , 2.793630323 } </string>
</array>
<key> 17th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 18th Bn </key>
<array>
    <string>{ 50.35473195 , 2.779731165 } </string>
    <string>{ 50.35519504 , 2.78337068 } </string>
    <string>{ 50.35528164 , 2.787667258 } </string>
</array>
<key> 19th Bn </key>
<array>
    <string>{ 50.35682645 , 2.779599529 } </string>
    <string>{ 50.35723905 , 2.782563112 } </string>
    <string>{ 50.35756582 , 2.786489447 } </string>
</array>
<key> 20th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 21st Bn </key>
<array>
    <string>{ 50.35690015 , 2.788733997 } </string>
    <string>{ 50.35695096 , 2.790904536 } </string>
    <string>{ 50.35678067 , 2.792848777 } </string>
</array>
<key> 22nd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 23rd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 24th Bn </key>
<array>
    <string>{ 50.36014951 , 2.777689765 } </string>
    <string>{ 50.36063256 , 2.78181237 } </string>
    <string>{ 50.36104365 , 2.786683183 } </string>
</array>
<key> 25th Bn </key>
<array>
    <string>{ 50.36226467 , 2.788116412 } </string>
    <string>{ 50.36234609 , 2.791360683 } </string>
    <string>{ 50.36223907 , 2.795701906 } </string>
</array>
<key> 26th Bn </key>
<array>
    <string>{ 50.3621372 , 2.776310446 } </string>
    <string>{ 50.36263547 , 2.780763501 } </string>
    <string>{ 50.3631082 , 2.78564503 } </string>
</array>
<key> 27th Bn </key>
<array>
    <string>{ 50.35565268 , 2.812303409 } </string>
    <string>{ 50.35643165 , 2.816576192 } </string>
    <string>{ 50.35735584 , 2.821262252 } </string>
</array>
<key> 28th Bn </key>
<array>
    <string>{ 50.3571143 , 2.79977458 } </string>
    <string>{ 50.35742362 , 2.805781623 } </string>
    <string>{ 50.35758362 , 2.811017197 } </string>
</array>
<key> 29th Bn </key>
<array>
    <string>{ 50.35870853 , 2.799682779 } </string>
    <string>{ 50.35878164 , 2.805413279 } </string>
    <string>{ 50.35896586 , 2.811554283 } </string>
</array>
<key> 30th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 31st Bn </key>
<array>
    <string>{ 50.35499403 , 2.800049098 } </string>
    <string>{ 50.3553142 , 2.805903333 } </string>
    <string>{ 50.35560339 , 2.810513292 } </string>
</array>
<key> 32nd Bn </key>
<array>
    <string>{ 50.38140222 , 2.758364341 } </string>
    <string>{ 50.38225376 , 2.76256643 } </string>
    <string>{ 50.38324002 , 2.767028528 } </string>
</array>
<key> 33rd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 34th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 35th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 36th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 37th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 38th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 39th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 40th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 41st Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 42nd Bn </key>
<array>
    <string>{ 50.37249977 , 2.772518971 } </string>
    <string>{ 50.37343913 , 2.775471948 } </string>
    <string>{ 50.37427752 , 2.778342335 } </string>
</array>
<key> 43rd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 44th Bn </key>
<array>
    <string>{ 50.39012826 , 2.757368657 } </string>
    <string>{ 50.39161244 , 2.759952086 } </string>
    <string>{ 50.39283204 , 2.763139627 } </string>
</array>
<key> 45th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 46th Bn </key>
<array>
    <string>{ 50.39394918 , 2.755998408 } </string>
    <string>{ 50.39579042 , 2.759375366 } </string>
    <string>{ 50.39752786 , 2.763533162 } </string>
</array>
<key> 47th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 48th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 49th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 50th Bn </key>
<array>
    <string>{ 50.3921456 , 2.75685735 } </string>
    <string>{ 50.39398339 , 2.760143289 } </string>
    <string>{ 50.39531566 , 2.763924764 } </string>
</array>
<key> 51st Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 52nd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 53rd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 54th Bn </key>
<array>
    <string>{ 50.37399391 , 2.766712696 } </string>
    <string>{ 50.37539325 , 2.770608808 } </string>
    <string>{ 50.37661776 , 2.774194411 } </string>
</array>
<key> 55th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 56th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 57th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 58th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 59th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 60th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 61st Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 62nd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 63rd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 64th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 65th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 66th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 67th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 68th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 69th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 70th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 71st Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 72nd Bn </key>
<array>
    <string>{ 50.38554766 , 2.757600297 } </string>
    <string>{ 50.38581493 , 2.762078741 } </string>
    <string>{ 50.38616405 , 2.766741723 } </string>
</array>
<key> 73rd Bn </key>
<array>
    <string>{ 50.3882427 , 2.758001418 } </string>
    <string>{ 50.38832912 , 2.758739022 } </string>
    <string>{ 50.38846128 , 2.759603888 } </string>
</array>
<key> 74th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 75th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 76th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 77th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 78th Bn </key>
<array>
    <string>{ 50.38443809 , 2.768904849 } </string>
    <string>{ 50.38488953 , 2.770256274 } </string>
    <string>{ 50.38526602 , 2.771680816 } </string>
</array>
<key> 79th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 80th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 81st Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 82nd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 83rd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 84th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 85th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 86th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 87th Bn </key>
<array>
    <string>{ 50.37694187 , 2.763486207 } </string>
    <string>{ 50.37838756 , 2.767435852 } </string>
    <string>{ 50.3793784 , 2.770710965 } </string>
</array>
<key> 88th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 89th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 90th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 91st Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 92nd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 93rd Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 94th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 95th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 96th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 97th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 98th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 99th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 100th Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 101st Bn </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 102nd Bn </key>
<array>
    <string>{ 50.375318 , 2.765923169 } </string>
    <string>{ 50.37660082 , 2.769458253 } </string>
    <string>{ 50.37763643 , 2.772555635 } </string>
</array>
<key> 1st CMR </key>
<array>
    <string>{ 50.36463325 , 2.775284673 } </string>
    <string>{ 50.3654549 , 2.779346061 } </string>
    <string>{ 50.36629352 , 2.784033288 } </string>
</array>
<key> 2nd CMR </key>
<array>
    <string>{ 50.36588241 , 2.774601799 } </string>
    <string>{ 50.36697011 , 2.77919141 } </string>
    <string>{ 50.36776347 , 2.783398405 } </string>
</array>
<key> 3rd CMR </key>
<array>
    <string>{ , } </string>
    <string>{ , } </string>
    <string>{ , } </string>
</array>
<key> 4th CMR </key>
<array>
    <string>{ 50.36749979 , 2.774809122 } </string>
    <string>{ 50.36824661 , 2.778723585 } </string>
    <string>{ 50.36891483 , 2.782260056 } </string>
</array>
<key> P.P.L.C.I. </key>
<array>
    <string>{ 50.37109738 , 2.773026878 } </string>
    <string>{ 50.37207506 , 2.776466745 } </string>
    <string>{ 50.37295439 , 2.779988934 } </string>
</array>
<key> R.C.R </key>
<array>
    <string>{ 50.36994368 , 2.773580659 } </string>
    <string>{ 50.37118951 , 2.778127484 } </string>
    <string>{ 50.37225419 , 2.781834253 } </string>
</array>
<key> 1 R.W.K. </key>
<array>
    <string>{ 50.36236216 , 2.801578364 } </string>
    <string>{ 50.36309198 , 2.809040596 } </string>
    <string>{ 50.36293023 , 2.810853986 } </string>
</array>
<key> K.O.S.B. </key>
<array>
    <string>{ 50.36430725 , 2.801051553 } </string>
    <string>{ 50.36569487 , 2.805779347 } </string>
    <string>{ 50.36689924 , 2.807757231 } </string>
</array>
<key> CND Light Horse </key>
<array>
    <string>{ 50.35618098 , 2.828108226 } </string>
    <string>{ 50.35711467 , 2.831879135 } </string>
    <string>{ 50.35816598 , 2.840201549 } </string>
</array>
</dict>
</plist>
