<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1915-1916</key>
	<dict>
		<key>Boundary</key>
		<dict>
			<key>midCoord</key>
			<string>{46.2188603802159,2.246975551419652}</string>
			<key>topLeftCoord</key>
			<string>{52.677250,-4.718441}</string>
			<key>topRightCoord</key>
			<string>{51.326359,8.623170}</string>
			<key>bottomLeftCoord</key>
			<string>{41.387168,-5.158257}</string>
		</dict>
		<key>Flags</key>
		<array>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{46.2188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{46.4188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{46.6188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{46.8188603802159,2.246975551419652}</string>
			</dict>
		</array>
	</dict>
	<key>1917</key>
	<dict>
		<key>Boundary</key>
		<dict>
			<key>midCoord</key>
			<string>{46.2188603802159,2.246975551419652}</string>
			<key>topLeftCoord</key>
			<string>{52.677250,-4.718441}</string>
			<key>topRightCoord</key>
			<string>{51.326359,8.623170}</string>
			<key>bottomLeftCoord</key>
			<string>{41.387168,-5.158257}</string>
		</dict>
		<key>Flags</key>
		<array>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{46.2188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{46.4188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{46.6188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{46.8188603802159,2.246975551419652}</string>
			</dict>
		</array>
	</dict>
	<key>Hindenburg Line</key>
	<dict>
		<key>Boundary</key>
		<dict>
			<key>midCoord</key>
			<string>{46.2188603802159,2.246975551419652}</string>
			<key>topLeftCoord</key>
			<string>{52.677250,-4.718441}</string>
			<key>topRightCoord</key>
			<string>{51.326359,8.623170}</string>
			<key>bottomLeftCoord</key>
			<string>{41.387168,-5.158257}</string>
		</dict>
		<key>Flags</key>
		<array>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{46.2188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{46.4188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{46.6188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{46.8188603802159,2.246975551419652}</string>
			</dict>
		</array>
	</dict>
	<key>Final German Offensives 1918</key>
	<dict>
		<key>Boundary</key>
		<dict>
			<key>midCoord</key>
			<string>{46.2188603802159,2.246975551419652}</string>
			<key>topLeftCoord</key>
			<string>{52.677250,-4.718441}</string>
			<key>topRightCoord</key>
			<string>{51.326359,8.623170}</string>
			<key>bottomLeftCoord</key>
			<string>{41.387168,-5.158257}</string>
		</dict>
		<key>Flags</key>
		<array>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{46.2188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{46.4188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{46.6188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{46.8188603802159,2.246975551419652}</string>
			</dict>
		</array>
	</dict>
	<key>Final Allied Offensives 1918</key>
	<dict>
		<key>Boundary</key>
		<dict>
			<key>midCoord</key>
			<string>{46.2188603802159,2.246975551419652}</string>
			<key>topLeftCoord</key>
			<string>{52.677250,-4.718441}</string>
			<key>topRightCoord</key>
			<string>{51.326359,8.623170}</string>
			<key>bottomLeftCoord</key>
			<string>{41.387168,-5.158257}</string>
		</dict>
		<key>Flags</key>
		<array>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{46.2188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{46.4188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{46.6188603802159,2.246975551419652}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{46.8188603802159,2.246975551419652}</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
