<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1915-1916</key>
	<dict>
		<key>Boundary</key>
		<dict>
			<key>midCoord</key>
			<string>{48.980558,4.459582}</string>
			<key>topLeftCoord</key>
			<string>{52.429539,0.943936}</string>
			<key>topRightCoord</key>
			<string>{52.268475,7.953219}</string>
			<key>bottomLeftCoord</key>
			<string>{44.996250,0.878034}</string>
		</dict>
		<key>Flags</key>
		<array>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.060895,2.2743216}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.585521,2.332612}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.844895,2.2311940}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.352117,2.217562}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.860562,3.369485}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.597728,3.370839}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.150189,5.967401}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{48.424298,7.461038}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.421364,4.791256}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.060895,3.243216}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.395113,3.272957}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.611115,3.347798}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{49.021364,4.691256}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{48.424298,6.561038}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{50.968659,2.285143}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{50.272216,2.468918}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{49.073100,5.167401}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{50.577521,2.479612}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.374152,2.469883}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{49.597728,2.460839}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{49.968659,2.455143}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.844895,2.567940}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.597688,2.525648}</string>
			</dict>
		</array>
	</dict>
	<key>1917</key>
	<dict>
		<key>Boundary</key>
		<dict>
			<key>midCoord</key>
			<string>{48.980558,4.459582}</string>
			<key>topLeftCoord</key>
			<string>{52.429539,0.943936}</string>
			<key>topRightCoord</key>
			<string>{52.268475,7.953219}</string>
			<key>bottomLeftCoord</key>
			<string>{44.996250,0.878034}</string>
		</dict>
		<key>Flags</key>
		<array>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.290355, 3.636488}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.372216,3.539918}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.860562,3.369485}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.372216,4.469918}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.453271,4.299645}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.860562,4.111001}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.597728,5.470839}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.251364,6.511256}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.763802,4.111001}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.170970,4.641280}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{50.290355, 3.666488}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{50.860562,3.439485}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{49.597728,4.560839}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{49.111364,5.591256}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.763802,3.497699}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.170970,3.753280}</string>
			</dict>
		</array>
	</dict>
	<key>Hindenburg Line</key>
	<dict>
		<key>Boundary</key>
		<dict>
			<key>midCoord</key>
			<string>{48.980558,4.459582}</string>
			<key>topLeftCoord</key>
			<string>{52.429539,0.943936}</string>
			<key>topRightCoord</key>
			<string>{52.268475,7.953219}</string>
			<key>bottomLeftCoord</key>
			<string>{44.996250,0.878034}</string>
		</dict>
		<key>Flags</key>
		<array>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.763802,2.387699}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.860562,2.361485}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.597728,3.670839}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.469425,3.160919}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.290355, 3.196488}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.763802,3.197699}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.860562,3.169485}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.170970,3.431250}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{49.597728,3.020839}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{50.469425,2.460919}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{50.860562,2.369485}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{50.170970,2.491280}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.170970,2.581280}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{49.497728,2.970839}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.469425,2.360919}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.290355, 2.466488}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.820562,2.469485}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.290355, 2.366488}</string>
			</dict>
		</array>
	</dict>
	<key>Final German Offensives 1918</key>
	<dict>
		<key>Boundary</key>
		<dict>
			<key>midCoord</key>
			<string>{48.980558,4.459582}</string>
			<key>topLeftCoord</key>
			<string>{52.429539,0.943936}</string>
			<key>topRightCoord</key>
			<string>{52.268475,7.953219}</string>
			<key>bottomLeftCoord</key>
			<string>{44.996250,0.878034}</string>
		</dict>
		<key>Flags</key>
		<array>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{49.927147,2.812768}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.802321,2.393472}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.614267,3.779076}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.664270,3.687386}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.927147,3.512768}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.843844,3.274228}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.902321,3.293472}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{49.544267,2.999076}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{49.664270,2.967386}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{50.902321,2.493472}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{49.544267,2.979076}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{49.927147,2.712768}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.922321,2.493472}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedStates</string>
				<key>Coordinate</key>
				<string>{49.544267,2.979076}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedStates</string>
				<key>Coordinate</key>
				<string>{50.843844,2.454228}</string>
			</dict>
		</array>
	</dict>
	<key>Final Allied Offensives 1918</key>
	<dict>
		<key>Boundary</key>
		<dict>
			<key>midCoord</key>
			<string>{48.980558,4.459582}</string>
			<key>topLeftCoord</key>
			<string>{52.429539,0.943936}</string>
			<key>topRightCoord</key>
			<string>{52.268475,7.953219}</string>
			<key>bottomLeftCoord</key>
			<string>{44.996250,0.878034}</string>
		</dict>
		<key>Flags</key>
		<array>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{49.970638,2.274443}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{49.130193,3.468164}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.171740,3.242653}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{49.898099,2.288755}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.441090,3.428301}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.183470,3.065275}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.355750,3.518129}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.178202,2.983504}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.855983,2.856288}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.130193,3.468164}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.970638,2.274443}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.171740,3.242653}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.183963,5.000704}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{48.891158,5.582430}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{49.898099,2.288755}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.441090,3.428301}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.100624,3.074157}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.005445,3.133878}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.183470,3.065275}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.084676,3.213354}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.819241,3.257726}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.355750,3.518129}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Coordinate</key>
				<string>{50.443189,4.623536}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{48.891158,5.382430}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{49.130193,3.468164}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{48.883963,5.000704}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{49.898099,2.588755}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{50.178202,2.983504}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Coordinate</key>
				<string>{50.855983,2.656288}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{49.110193,3.588164}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{49.970638,2.754443}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.171740,2.742653}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.443189,2.353536}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedKingdom</string>
				<key>Coordinate</key>
				<string>{50.819241,2.487726}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedStates</string>
				<key>Coordinate</key>
				<string>{48.891158,5.482430}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedStates</string>
				<key>Coordinate</key>
				<string>{48.983963,4.900704}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedStates</string>
				<key>Coordinate</key>
				<string>{49.130193,3.468164}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedStates</string>
				<key>Coordinate</key>
				<string>{49.898099,2.788755}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedStates</string>
				<key>Coordinate</key>
				<string>{50.084676,2.813354}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedStates</string>
				<key>Coordinate</key>
				<string>{50.443189,2.423536}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>UnitedStates</string>
				<key>Coordinate</key>
				<string>{50.855983,2.496288}</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Coordinate</key>
				<string>{50.178202,2.983504}</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
