<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Images</key>
	<array>
		<dict>
			<key>name</key>
			<string>enhanced-buzz-wide-29670-1403886325-13</string>
			<key>date</key>
			<string>Unknown</string>
			<key>author</key>
			<string>Unknown</string>
			<key>type</key>
			<string>war</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FoY8Q</string>
			<key>date</key>
			<string>2014</string>
			<key>author</key>
			<string>Unknown</string>
			<key>type</key>
			<string>recent</string>
		</dict>
		<dict>
			<key>name</key>
			<string>3g10128u-49</string>
			<key>date</key>
			<string>1917</string>
			<key>author</key>
			<string>State</string>
			<key>type</key>
			<string>propaganda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>vimy_15</string>
			<key>date</key>
			<string>Unknown</string>
			<key>author</key>
			<string>Unknown</string>
			<key>type</key>
			<string>postWar</string>
		</dict>
		<dict>
			<key>name</key>
			<string>02X063_03BD_9</string>
			<key>date</key>
			<string>Unknown</string>
			<key>author</key>
			<string>Unknown</string>
			<key>type</key>
			<string>war</string>
		</dict>
		<dict>
			<key>name</key>
			<string>02X065_2440_9</string>
			<key>date</key>
			<string>Unknown</string>
			<key>author</key>
			<string>Unknown</string>
			<key>type</key>
			<string>war</string>
		</dict>
		<dict>
			<key>name</key>
			<string>02X074_406C_9</string>
			<key>date</key>
			<string>Unknown</string>
			<key>author</key>
			<string>Unknown</string>
			<key>type</key>
			<string>war</string>
		</dict>
		<dict>
			<key>name</key>
			<string>02X126_758F_9</string>
			<key>date</key>
			<string>Unknown</string>
			<key>author</key>
			<string>Unknown</string>
			<key>type</key>
			<string>war</string>
		</dict>
	</array>
</dict>
</plist>
