<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Images</key>
	<array>
		<dict>
			<key>name</key>
			<string>Vimy Ridge</string>
			<key>date</key>
			<string>1930&apos;s</string>
			<key>author</key>
			<string>Captain William Longstaff</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>This work by Australian Captain William Longstaff was extremely popular and images were reproduced and sold throughout the Empire. Longstaff depicted soldiers&apos; ghosts marching up Vimy Ridge from the Douai Plain, returning to the memorial. The Memorial&apos;s designer, Walter Allward, noted in 1921 that he had been inspired by wartime dream in which dead soldiers &quot;rose in masses, filed silently by and entered the fight to aid the living. So vivid was this impression, that when I awoke it stayed with me for months. Without the dead we were helpless. So I have tried to show this in this monument to Canada&apos;s fallen, what we owed them and we will forever owe them.&quot;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canadian Artillery in Action</string>
			<key>date</key>
			<string>1918</string>
			<key>author</key>
			<string>Captain Kenneth Keith Forbes</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>A Canadian 6-inch howitzer supports British troops in the attack on Thiepval on 16 July 1916 during the Somme offensive. The artist captures the exhaustion of the gunners, who appear to have been firing for hours. Prolonged exposure to the noise and shock artillery fire would rupture ear drums and ruin hearing. Most gunners suffered at least partial deafness as a result of their war service.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Crest of Vimy</string>
			<key>date</key>
			<string>February 1918</string>
			<key>author</key>
			<string>Gyrth Russell</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>A solitary soldier approaches the crest of Vimy Ridge in February 1918 in this work by Gyrth Russell, one of many Canadian war artists to depict the symbolic field. After the Canadians captured the ridge in April 1917, the Germans never retook it. The few battered trees indicate the destruction caused by the fighting.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A Cemetery on Vimy Ridge</string>
			<key>date</key>
			<string>1917</string>
			<key>author</key>
			<string>Lieutenant Frederick Thwaites Bush</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>This sketch depicts a memorial at the bottom of a shell crater for fallen soldiers of the 2nd Canadian Division during the Battle of Vimy Ridge.

This sketch depicts a memorial at the bottom of a shell crater for fallen soldiers of the 2nd Canadian Division during the Battle of Vimy Ridge.

</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Pimple, Evening</string>
			<key>date</key>
			<string>March 1918</string>
			<key>author</key>
			<string>Alexander Young Jackson</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>Soldiers advance in line towards the pimple, a position north of Vimy Ridge. Initially outside of the Canadian Corps&apos; objectives for 9 April 1917, the pimple was later added to ensure that the Germans could not counterattack and recapture the ridge. Canadian troops attacked in a snow storm on 12 April, driving the elite German defenders from dug-in positions.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Taking of Vimy Ridge, Easter Monday 1917</string>
			<key>date</key>
			<string>1919</string>
			<key>author</key>
			<string>Richard Jack</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>Richard Jack was the first Canadian official war artist, appointed in 1916. In this painting, he depicts the crew of an 18-pounder field gun firing at German positions on Vimy Ridge. To the left, wounded soldiers move past the gun towards the rear.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Throwing Grenades</string>
			<key>date</key>
			<string>July 1918</string>
			<key>author</key>
			<string>Lieutenant Alfred Theodore Joseph Bastien</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>This painting depicts a Canadian Highlander throwing a grenade from the safety of a trench. The relatively straight-arm throw involved lobbing the grenade rather than throwing it like a baseball from over the shoulder. Grenades were a particularly effective weapon in close quarters trench fighting or in knocking out strong points without exposing the thrower to enemy fire.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mustard Gas</string>
			<key>date</key>
			<string>Unknown</string>
			<key>author</key>
			<string>Sir Eric Henri Kennington</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>This sketch depicts a blinded soldier recovering from the chemical effects of mustard gas. Most gassed soldiers recovered their sight within four to six weeks, but some were blinded permanently.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canadian Sentry</string>
			<key>date</key>
			<string>1918</string>
			<key>author</key>
			<string>Lieutenant Alfred Theodore Joseph Bastien</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>A Canadian soldier stands sentry in a trench, watching No Man&apos;s Land for signs of enemy movement. For exhausted soldiers, the two-hour nighttime shifts felt much longer, especially with the ever-present threat of enemy raids.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Coiffure in the Trenches</string>
			<key>date</key>
			<string>Unknown</string>
			<key>author</key>
			<string>Captain Charles Bruce Bairnsfather</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>In this cartoon by famed British soldier and artist Bruce Bairnsfather, one soldier gives another a haircut while a shell flies overhead. The barber tells the anxious soldier to keep his head still or he will cut his ear off. Bairnfather&apos;s cartoons of trench life were published in the British newspaper, The Bystander, and proved extremely popular among Allied soldiers.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canadians in Paris</string>
			<key>date</key>
			<string>Unknown</string>
			<key>author</key>
			<string>Lieutenant Alfred Theodore Joseph Bastien </string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>Canadian troops on parade under the Red Ensign at Paris&apos;s Arc de Triomphe, part of an Allied victory parade on 14 July 1919.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>For What?</string>
			<key>date</key>
			<string>1917-1919</string>
			<key>author</key>
			<string>Frederick Horsman Varley</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>Frederick Varley&apos;s For What? portrays a cart filled with bodies collected from the battlefield. It starkly portrays the horror of war and questions its purpose.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vetcraft Poppy</string>
			<key>date</key>
			<string>Unknown</string>
			<key>author</key>
			<string>Sir Frank Brangwyn</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>This is the top of a box used during the 1920s or 1930s to sell poppies for Remembrance Day. It was created by Vetcraft, a Department of Soldiers Civil Re-establishment initiative to encourage wounded veterans to produce products for sale. A veteran copied onto the box top a lithograph by Frank Brangwyn showing ruins and a field of red poppies. This print was found in 1994 behind a cabinet at a cottage. The box itself was not found.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trench Raid</string>
			<key>date</key>
			<string>1919 or earlier</string>
			<key>author</key>
			<string>H.J. Mowat</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>In this charcoal sketch by H.J. Mowat, six Canadians leave the trenches to go on a raid. Given the apparent absence of sand bags, they are possibly exiting from an advanced listening post. Under moonlight, they will thread through their own wire and into No Man&apos;s Land before slipping through the enemy&apos;s wire and launching their attack. Raids could involve only a few soldiers sneaking quietly forward, like the one depicted here, or several hundred attacking with coordinated support from the artillery, mortars, and machine-guns.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Stretcher-bearer Party</string>
			<key>date</key>
			<string>Circa 1918</string>
			<key>author</key>
			<string>Lieutenant Cyril Henry Barraud</string>
			<key>type</key>
			<string>recent</string>
			<key>text</key>
			<string>Artist Cyril Barraud depicts Highlanders carrying a wounded man off the battlefield. The shoulder patch, a light blue rectangle and dark blue circle, identify them as members of the 43rd Battalion. One soldier wears a red cross armband identifying him as medical personnel. Those who were hurt but still able to walk were called &quot;walking wounded,&quot; like the two soldiers behind the stretcher party.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>This is Your Flag</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>This is a recruitment poster for the 207th Battalion of Ottawa-Carleton, the recruiting office for which was in downtown Ottawa. The unit went overseas in 1917, but was later broken up and its soldiers sent to reinforce other front line infantry battalions, including the 2nd, 21st, and 38th Battalions, and the Princess Patricia&apos;s Canadian Light Infantry.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sustaining Empire</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>This poster expressed the British Empire&apos;s need for men, munitions, and money. The war of material, which included the ability to supply ammunition, food, horses, and soldiers, was a major determining factor in Allied victory.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>150ieme Carabiniers</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>A uniformed soldier of the 150th Battalion urges enlistment in this French-Canadian recruitment poster. Because this battalion was unable to meet its authorized strength, it was broken up, its troops sent as reinforcements to the 22nd Battalion, the only French-Canadian infantry battalion that served at the front.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Help the Boys</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>Shells explode and German soldiers flee in panic in this colourful recruitment poster for the 245th Battalion, Canadian Grenadier Guards. Raised in Montreal, the 245th sailed to England in 1917 where the battalion was broken up and absorbed by the 23rd Reserve Battalion. The soldiers were subsequently sent to the front as reinforcements for numerous other front line battalions.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Voluntary Aid Detachment</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>Recruitment poster seeking women for Great Britain&apos;s Voluntary Aid Detachment (VAD). While VADs lacked the formal medical training of nurses, they provided medical assistance to countless patients during the war. By the end of 1917, more than 1,800 Canadian women had become VADs, and at least 500 were sent overseas.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Take Up the Sword of Justice</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>This dramatic British recruitment poster depicts the figure of Justice rising from the sea. In the background, the doomed passenger liner Lusitania sinks amidst its drowning passengers. The May 1915 sinking by a German U-Boat caused 1,200 civilian deaths and sparked widespread outrage.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Les Heros de St-Julien et de Festubert</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>This is the French version of a Canadian recruitment poster. Produced in both French and English, it was meant to encourage recruitment by highlighting the Canadians&apos; heroic stand at the battles of St. Julien (Ypres) and Festubert.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shall we Help to Crush Tyranny?</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>Patriotic symbols such as the maple leaf and the Union Jack were familiar images in recruitment posters, and patriotism motivated the enlistment of many Canadian and British-born recruits.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bushmen and Sawmill Hands Wanted</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>A recruitment poster for the Canadian Forestry Corps. By war&apos;s end, 31,447 soldiers had served with the Corps harvesting timber throughout Great Britain and France. Wood was used for everything: from trenches to rail lines, duckboards and ammunition crates.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The World&apos;s Verdict on Germany</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>The Navy League of Canada produced this poster. It displays the flags of all nations opposing Germany in August 1914 in the left hand column. In the middle column, it shows countries that joined the Entente during the war. The column on the right shows countries that severed diplomatic relations with Germany.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>&quot;Once a German – Always a German!&quot;</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>An outrageous anti-German propaganda poster that draws upon stories of the atrocities committed by Germans during the war, from the occupation of Belgium, the bayoneting of a baby, the execution of civilians, the murder of Nurse Edith Cavell, and unrestricted submarine warfare that targeted innocent civilian ships. This British poster encouraged citizens not to hire Germans or buy German goods.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tomb of Edith Cavell</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>A soldier stands over the grave of Nursing Sister Edith Cavell. Charged with aiding in the escape of Allied soldiers, Cavell was executed in Belgium by German forces on 12 October 1915. Her death, in the eyes of many in Britain and Canada, was another example of German barbarity. Following the war, Cavell&apos;s body was returned to her native England.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Boches</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>A collection of wartime cartoons presented to Prime Minister Sir Robert Borden by Quebec artist Joseph Charlebois. Their unforgiving portrayals of German soldiers are typical of the anti-German sentiment popular during the war.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lusitania Medal</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>This British souvenir bronze medallion was created as propaganda related to the sinking of the Lusitania. Originally struck in Germany, artist Karl Goetz engraved the medal. On one side, the ironic words &quot;no contraband goods&quot; and the image of the sinking ship loaded with war supplies suggests that the Germans were justified in targeting a passenger liner. The other side shows a line of passengers willingly buying their tickets from death, even though they have been warned about the U-Boat threat, as shown in a newspaper. The medal first appeared with the incorrect date of 5 May 1915, two days before the actual attack. The British pounced on this. The medal&apos;s design was replicated in Britain and sold cheaply for propaganda purposes, an example of German militarism that celebrated the death of civilians and, with the incorrect date, an insinuation that it had been a pre-planned attack against the vessel.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>&quot;Kultur&quot; and Nurse Cavell</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>This postcard comes from a series of six created by Italian artist Tito Corbella following the execution of Nurse Edith Cavell in October 1915. The artist portrays a saintly Cavell facing a sinister figure of death and a shadowy council, who represent the Germans and their military kultur (culture) that has brought war to the world.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Kaiser&apos;s Despair</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>propaganda</string>
			<key>text</key>
			<string>A satirical Last Will and Testament of the German Kaiser. In addition to Germany&apos;s imminent defeat, the leaflet pokes fun at other contemporary events, including the women&apos;s suffrage movement and Ernest Shackleton&apos;s expedition to the North Pole. The anonymous author appears to have been Canadian, as the text mentions the Canadian Corps commander, Sir Arthur Currie, and his troops.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Early Memorial</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>postWar</string>
			<key>text</key>
			<string>An early memorial at Vimy Ridge in October 1917 honours the 2nd Canadian Division and the13th British Infantry Brigade that fought together during the battle. Memorials were often erected by units and formations after major battles.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>An Improvised Desk</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>A Canadian soldier seated on a log writes a letter, while a second log, flipped on its side, makes a useful desk. The desire of soldiers to capture their experiences in letters, diaries, and memoirs has made the First World War one of the most documented conflicts in history.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Getting the Shot</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Members of a Canadian War Records Office camera team carry their equipment up the line. Official photographers had free reign to shoot all aspects of the war, but were encouraged not to photograph the Canadian dead. Smoke, explosions, unwieldy equipment, and the dangers of enemy fire prevented them from taking many images of front line combat.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Posing in Pickelhaubes</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Two smiling Canadians pose in their captured German furs and pickelhaube helmets. These elaborate helmets were a novelty to Canadian soldiers who wore the much plainer (and more practical) Brodie steel helmet. German troops also changed helmets in 1916 to the &quot;coal bucket&quot; M1916 helmet, but pickelhaubes continued to be worn throughout the war, and remained key prizes for Allied soldiers.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canadian Nurses</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Two Canadian nurses pose in service dress uniforms.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beneath Barbed Wire</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Four graves stand beneath a web of barbed wire. In total, more than 60,000 Canadians died in the First World War.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Voting up the Line</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Canadian soldiers at the front voting in the 1917 election. Two soldiers with a sack wait to collect the completed ballots. Canadians engaged in military service, regardless of race, age or gender, were eligible to vote. Ninety percent of them voted for Sir Robert Borden&apos;s Union government that ran a campaign based on invoking conscription.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Reserve Trenches</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Eight soldiers stand at ease in a trench. Reserve trenches provided a second line of defence in case the front line fell. Reserve trenches were generally safer than the front line, which perhaps explains the shallowness of the trenches.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rest and Repair</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Just out from the front lines, two Canadian soldiers in bathing costumes and shorts take advantage of a few moments of rest to clean their rifles. Soldiers had more leisure time in the rear areas, but were still required to train and to care for their kit and weapons.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Out of the Line</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>A group of excited soldiers mount a motor truck destined for rest billets. A standardized rotation policy meant that soldiers typically spent four to six days in the front line trenches, followed by an equal amount of time in the secondary lines, and then in reserve. One soldier in the foreground proudly wears his souvenir, a German army spiked helmet.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Draining Trenches</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>In rain-soaked northern France and Belgium, trenches during much of the year degenerated into muddy ditches. This added to the misery of trench life, and could also result in the collapse of trench walls and parapets.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Play Ball!</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>YMCA Captain Robert Pearson umpires behind the plate at a baseball game held in the Canadian lines. The crowd of Canadian soldiers speaks to baseball&apos;s appeal. The army, the YMCA, and the Salvation Army formally organized sports, which were thought to contribute to good health and keep soldiers out of trouble.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Washing Day</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Two soldiers work on their laundry. Approximately 1,000 black soldiers served in the Canadian Expeditionary Force during the First World War, most of them in Nova Scotia&apos;s No. 2 Labour Battalion. Labour battalions worked behind the lines, carrying out essential support and supply roles.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lunch in the Trenches</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Two soldiers eat slices of bread while propped up against sandbags. Bread rations usually arrived in three-pound loaves that were shared among several soldiers. Food was bland and monotonous, but no one ever starved.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Illegal Trench Photography</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>George Ormsby of the 15th Battalion holds a Lee Enfield rifle and wears a kilt cover over his Highland uniform. This photograph was taken with Ormsby&apos;s own camera, sent to him by his wife. It was illegal for soldiers to have cameras because of the fear that photographs could fall into enemy hands. The lack of a helmet indicates it was probably taken before the spring of 1916.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Making Use of a Shell Hole</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Living in trenches for about two weeks at a time left soldiers with few options for bathing. Here, several Canadian soldiers use a water-filled shell hole to shave and to wash their faces and feet. Keeping one&apos;s feet clean and dry was essential for avoiding &quot;trench foot,&quot; or rotting feet, caused by standing too long in water-logged boots and socks.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>German Prisoners</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>From 15 to 20 September 1916, the Canadians captured and held the village of Courcelette. During that time, they took 1,040 German prisoners. Canadians here are seen providing the prisoners with cigarettes, food, and drinks. Prisoners would then likely have been taken to cages behind the lines, and finally to prisoner of war camps in France or England.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vimy Ridge from the Air</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>This aerial photograph illustrates the major trench lines around an unknown sector on Vimy Ridge. The large craters, some ten to 15 metres deep, were made from mine explosions set off by Canadian engineers prior to and during the assault of 9 April 1917. Mines could create great confusion and blow huge gaps in an enemy&apos;s defences, but they were also significant obstacles for advancing troops.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tank at Vimy</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>British tank crossing German trench at Vimy Ridge. All eight of the tanks available to the Canadians at Vimy broke down or were knocked out by enemy fire. The slow-moving tanks were nevertheless useful in crushing barbed wire, terrifying the enemy, and supporting the infantry.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beyond Vimy, the Douai Plain</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>This photograph, taken after the capture of Vimy Ridge, looks east over the Douai Plain. The vantage point occupied by the soldiers in the foreground demonstrates the strategic importance of Vimy Ridge – its height.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canadians Advance</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Canadians of the 29th Infantry Battalion advance across No Man&apos;s Land through the German barbed wire during the Battle of Vimy Ridge, April 1917. Most soldiers are armed with their Lee Enfield rifles, but the soldier in the middle carries a Lewis machine-gun on his shoulder.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vimy Fortifications</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>A German machine-gun emplacement of reinforced concrete on the crest of Vimy Ridge, and the Canadians who seized it.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Removing Casualties</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Canadian medical officers (with the Red Cross emblems on the soldiers at right and to the left rear of the photo) use German prisoners to help transport Canadian wounded from Vimy Ridge, April 1917. They use a two-tiered carrier, pulled along a light railway line leading from the front.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Prisoners of War</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>The Canadians captured more than 4,000 Germans during the Battle of Vimy Ridge. In this photograph, the soldiers in the soft caps are German officers, and perhaps senior enough to warrant the attention of the official Canadian photographer.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Artillery Support</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>In this striking nighttime photograph taken behind Canadian lines at Vimy Ridge, a British naval gun fires in support of the Canadian attack. Approximately 1,000 Allied guns and mortars pounded the ridge prior to the assault, a period called by the German defenders the &quot;week of suffering.&quot;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Unexploded 12 Inch Shell</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Thousands of shells failed to explode after being fired. Their &quot;iron harvest&quot; continues to taint French and Belgian soil to this day.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>German Mine Crater</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>A German mine explosion blew this crater under the Canadian front line in August 1916. The Germans initially dominated underground warfare, but Allied efforts improved steadily from 1916, especially as tens of thousands of German combat miners were recalled to support the mining industry at home. By 1917, when British forces blew successfully a series of mines at Messines, there were 32 mining companies and approximately 25,000 miners in the BEF.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mustard Gas Victims</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>The extensive bandages on these wounded Canadian soldiers may indicate that they have suffered the effects of flame or mustard gas. Mustard gas burned the lungs, but also caused serious external blisters and disfigurement.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pigeon Message</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>These two soldiers are sending a message by pigeon, which was an effective means to communicate from front to rear, and back again. However, pigeons could become confused in heavy artillery shelling and succumbed easily to lethal poison gas.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wounded Germans</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>Canadians attend to wounded Germans at an advanced dressing station. Wounded soldiers who were taken prisoner received medical treatment, though probably after the force&apos;s own wounded had been treated first.

</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Forged Photography</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>war</string>
			<key>text</key>
			<string>These Canadian soldiers appear to be going &quot;over the top&quot; during a battle. In reality, the photographer captured soldiers behind the lines and later inserted plumes of smoke in the background to give the impression of a live battle. In many wartime photographs, it is difficult and often impossible to distinguish training photographs from real battlefields.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vindicated Veterans</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>postWar</string>
			<key>text</key>
			<string>French veterans of the 1870-1871 Franco-Prussian War join Canadian soldiers in the liberated city of Denain, France, at the end of the war. These French veterans, who had lived with their country&apos;s defeat for almost fifty years, march past the French and Canadian generals, including Canadian Corps commander Sir Arthur Currie and the Prince of Wales.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vimy Pilgrims</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>postWar</string>
			<key>text</key>
			<string>A massive crowd gathers to watch the unveiling of the Vimy Ridge Memorial on 26 July 1936. The two soaring pylons represent Canada and France. Twenty other sculpted figures adorn the structure.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vimy Dedication</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>postWar</string>
			<key>text</key>
			<string>Flags are hoisted in preparation for the dedication of the Memorial at Vimy Ridge. The 26 July 1936 unveiling was attended by 100,000, including 6,000 Canadian veterans. The two pillars represent France and Canada. The lone sculpture represents Canada mourning her fallen sons.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canadian Cemetery at Vimy</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>postWar</string>
			<key>text</key>
			<string>Aerial view of the Canadian cemetery near Vimy Ridge. The Battle of Vimy Ridge, a significant victory in April 1917, resulted in the deaths of 3,598 Canadians.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Will Van Allen</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>postWar</string>
			<key>text</key>
			<string>Will Van Allen with family and friends at unknown convalescence hospital. Van Allen lost his left arm in action during the war. Of the 172,000 wounded Canadians, 3,802 survived the war as amputees.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Demobilization</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>postWar</string>
			<key>text</key>
			<string>Canadian soldiers undergo health inspections as part of the demobilization process in 1919. Medical personnel checked for a variety of ailments, including venereal disease, and held back afflicted soldiers until they were cured. These examinations were especially important in light of the influenza pandemic of 1918-1919, which killed millions worldwide and approximately 50,000 in Canada.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Saying Good-bye</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>postWar</string>
			<key>text</key>
			<string>Ladies wave good-bye to 5,000 Canadians leaving Southampton, England on the S.S. Olympic in April 1919. The S.S. Olympic earned the nickname &quot;Old Reliable&quot; for its wartime service in transporting over 200,000 troops and other personnel between North America and Great Britain from 1915 to 1919.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Khaki University Agricultural Class</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>postWar</string>
			<key>text</key>
			<string>Lieutenant-Colonel Kenneth Bedson lectures to soldiers in an agricultural class at the Khaki University of Canada. The YMCA and the military chaplain service had run small educational programs since 1914, but the Khaki University, established in early 1917, greatly expanded this effort. The program gained greater military support following the Armistice as soldiers demanded educational classes to prepare them for postwar occupations.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kinmel Riots</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>postWar</string>
			<key>text</key>
			<string>Canadian soldiers walk the streets of Kinmel, inspecting damage following the riots in March 1919. Between 1918 and 1919, there were 13 incidents of unrest at repatriation camps overseas. Kinmel Park was the worst, resulting in five deaths. Many stores were destroyed by soldiers&apos; frustration over high prices and shoddy goods.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Festubert Landscape</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>postWar</string>
			<key>text</key>
			<string>This photograph of the ruined battlefield near Festubert was taken in the spring of 1919. The Canadians fought at Festubert in May 1915, but no official photographers accompanied them to the front. The ground still shows the scars from the heavy fighting, four years after the battle.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Last Soldier Killed in the War</string>
			<key>date</key>
			<string></string>
			<key>author</key>
			<string></string>
			<key>type</key>
			<string>postWar</string>
			<key>text</key>
			<string>The resting place of Private George Price, 28th Canadian Infantry Battalion. Killed by a German sniper northeast of Mons just two minutes before the Armistice on 11 November 1918, he was the last Canadian to be killed in battle during the war. His grave marker has the wrong first initial: &apos;J&apos; instead of &apos;G.&apos;</string>
		</dict>
	</array>
</dict>
</plist>
