<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Livens Projector</key>
	<array>
		<string>Country of Origin: United Kingdom</string>
		<string>First Year of Service: 1916</string>
		<string>Overall Length:</string>
		<string>Barrel Length:</string>
		<string>Weight:</string>
		<string>Calibre: 8 inches</string>
		<string>Actions (reload): </string>
		<string>Magazine Size: </string>
		<string>Muzzle Velocity: </string>
		<string>Rate of Fire: N/A</string>
		<string>Range: 1500 metres</string>
		<string>Sight:</string>
	</array>
	<key>Mark V Tank</key>
	<array>
		<string>Country of Origin: United Kingdom</string>
		<string>First Year of Service: 1916</string>
		<string>Overall Length: 8.05 Metres (26.41 Feet)</string>
		<string>Barrel Length: N/A</string>
		<string>Weight: N/A</string>
		<string>Calibre: N/A</string>
		<string>Actions (reload): N/A</string>
		<string>Magazine Size: N/A</string>
		<string>Muzzle Velocity: N/A</string>
		<string>Rate of Fire: N/A</string>
		<string>Range: N/A</string>
		<string>Sight: N/A</string>
	</array>
	<key>Sopwith Camel</key>
	<array>
		<string>Country of Origin: United Kingdom</string>
		<string>First Year of Service: 1917</string>
		<string>Overall Length: 5.76 (18.90in)</string>
		<string>Barrel Length: 720 mm (28.35)</string>
		<string>Weight: 420 - 660 kg</string>
		<string>Calibre: .303 British</string>
		<string>Actions (reload): Recoil with Gas Boot</string>
		<string>Magazine Size: 250 Round Canvas Belt</string>
		<string>Muzzle Velocity: 2440feet/s (744m/s)</string>
		<string>Rate of Fire: 500 rounds per minute</string>
		<string>Range: 485 km (301 miles)</string>
		<string>Sight : N/A</string>
	</array>
	<key>Ross Rifle MK III</key>
	<array>
		<string>Country of origin: Canada</string>
		<string>First year of service: 1905</string>
		<string>Overall length: 1320 mm (51.97in)</string>
		<string>Barrel length: 711.00mm (27.99in)</string>
		<string>Weight(empty): 8.82 lb (4.00 kg)</string>
		<string>Calibre: 0.303 British</string>
		<string>Action(reload): Manual pull, bolt-Action system</string>
		<string>Magazine size: 5-round magazine</string>
		<string>Muzzle velocity: 2,00 ft./sec (610m/sec)</string>
		<string>Rate of fire: 20 rounds per minute</string>
		<string>N/A</string>
		<string>Sight: iron front and rear </string>
	</array>
	<key>Webley Revolver</key>
	<array>
		<string>Country of origin: British Empire</string>
		<string>First year of service: 1887</string>
		<string>Overall length: 286mm (11.25in)</string>
		<string>Barrel length: 106mm (4.17in)</string>
		<string>Weight (empty): 2.4lb (1.1kg)</string>
		<string>Calibre: .445 (11.6mm)</string>
		<string>Action (reload): double action revolver</string>
		<string>Magazine size: 6 round cylinder</string>
		<string>muzzle velocity: 620 ft./sec (190m/sec)</string>
		<string>Rate of fire:20-30 rounds/minute</string>
		<string>Range: 50 yd</string>
		<string>Sight: fixed front and rear notch</string>
	</array>
	<key>Luger</key>
	<array>
		<string>Country of origin: Germany</string>
		<string>First year of service: 1904</string>
		<string>Overall length: 223mm (8.87in)</string>
		<string>Barrel length: 98mm (3.86in) </string>
		<string>Weight (empty): 1.92lb (0.87kg)</string>
		<string>Calibre: 7.65x22mm parbellum: 1908 (p08) 9x19mm parbellum</string>
		<string>Action (empty): semi-autmatic; short recoil; toggle-locked</string>
		<string>Magazine size: 8 round detachable box magazine: 32 round detachable drum</string>
		<string>Muzzle velocity: 375 ft./sec (114m/sec)</string>
		<string>N/A</string>
		<string>Range: 164 ft, 55yds (50m)</string>
		<string>Sight: iron front and rear </string>
	</array>
	<key>Lewis</key>
	<array>
		<string>Country of origin: United States</string>
		<string>First year of service: 1914</string>
		<string>Overall length: 1280mm (50.39in)</string>
		<string>Barrel length: 670mm (26.38in)</string>
		<string>Weight (empty): 28.66lb (13kg)</string>
		<string>Calibre: .303 Britsh; 30-06 Springfield; 7.92x57mm mauser</string>
		<string>Action (reload): gas-operated</string>
		<string>Magazine size:</string>
		<string>Muzzle velocity: 2,440 ft.sec (744m/sec)</string>
		<string>Rate of fire: 550 rounds per minute</string>
		<string>Range: 2,624 ft (800m)</string>
		<string>Sight: iron blade and tangent leaf</string>
	</array>
	<key>Mills Bomb</key>
	<array>
		<string>Country of origin: United Kingdom</string>
		<string>First year of service: 1915</string>
		<string>Overall length: 95mm (3.74in)</string>
		<string>Weight:1.69lb (0.77kg) </string>
		<string>Action: manually actuated; thrown</string>
		<string>Range: 115 ft, 38 yds (35m)</string>
		<string>N/A</string>
		<string>N/A</string>
		<string>N/A</string>
		<string>N/A</string>
		<string>N/A</string>
		<string>N/A</string>
	</array>
	<key>Stick Grenade</key>
	<array>
		<string>Country of origin: Germany</string>
		<string>First year of service: 1915</string>
		<string>Overall length: 365mm (14.37in)</string>
		<string>Weight:1.31lb (0.6kg)</string>
		<string>Action: manually actuated, time fuse explosive; thrown</string>
		<string>Range: 105 ft, 35 yds (32m)</string>
		<string>N/A</string>
		<string>N/A</string>
		<string>N/A</string>
		<string>N/A</string>
		<string>N/A</string>
		<string>N/A</string>
	</array>
	<key>6 Inch Howitzer</key>
	<array>
		<string>Country of origin: United Kingdom</string>
		<string>First year of service: 1915</string>
		<string>Overall length: 21 ft 7 in</string>
		<string>Weight: 8142 lbs</string>
		<string>Action: </string>
		<string>Range: 8700 metres</string>
		<string>N/A</string>
		<string>N/A</string>
		<string>N/A</string>
		<string>N/A</string>
		<string>N/A</string>
		<string>N/A</string>
	</array>
</dict>
</plist>
